$font: #073b4c;
$font-dim: #073b4cc2;
$white: #fff;

$highlight-red: #ef476f;
$highlight-blue: #118ab2;
$highlight-green: #06d6a0;

.modal-password {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: $white;
  border-radius: 13px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
  color: $font;
  margin: 8rem auto;
  max-width: 16rem;
  padding: 2rem;
  width: auto;

  h2 {
    font-weight: lighter;
    margin: 0;
  }

  h5 {
    color: $highlight-blue;
    font-weight: lighter;
    line-height: 1rem;
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    p {
      color: #495057;
      font-size: 0.9rem;
      margin-top: 0.4rem;
    }

    label {
      margin: 0.5rem 0;
    }

    i {
      font-size: 1rem;
      font-weight: bolder;
      margin-right: 0.5rem;
    }

    input {
      border: 2px solid $white;
      border-bottom: 2px solid $highlight-blue;
      border-radius: 3px;
      padding: 0.3rem;
      font-size: 1rem;
      height: 1.5rem;
      width: 12rem;
    }

    input:focus {
      border: 2px solid $highlight-blue;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
      outline: none;
    }

    button {
      background-image: linear-gradient(to right, $highlight-blue, $highlight-green);
      border: none;
      border-radius: 3px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
      color: $white;
      font-size: 14px;
      font-variant: small-caps;
      height: 2rem;
      margin: 2rem 0;
      width: 100%;
    }

    button:hover,
    button:active {
      background-image: linear-gradient(to right, #118ab2be, #06d69ebe);
    }
  }

  .cancel {
    background-color: $white;
    border: none;
    color: $highlight-blue;
    font-size: 14px;
  }

  .cancel:hover,
  .cancel:active {
    color: #118ab2be;
  }
}

.error-message {
  color: $highlight-red;
  margin: 0;
  height: 2rem;
}
